.cards{
    &.img2{
        background-image: url(../img/work/card/1.webp);
    }
    background-size: cover;
    height: 800px;
    display: grid;
    padding: 2%;
    
    .cards-container{
        max-height: max-content;
        width: clamp(800px, 80%,  1500px);

        margin: auto;
        display: grid;
        &.first{
            grid-template-columns: auto 300px 300px;
            grid-template-rows: 300px 300px ;
        }
        &.second{
            grid-template-columns: 300px 300px auto;
            grid-template-rows: 300px 300px ;
        }

        .span{
            grid-row-start: 1;
            grid-row-end: 3;
        }
        gap: 40px;
        
    }

    .card{
        border-radius: 25px;
        padding: 25px;
        display: grid;
        grid-template-rows: 60px 30px 100px 30px;
        gap: 10px;
        box-shadow: 2px 2px 15px 15px rgba(0, 0, 0, 0.219);
        svg{
            font-size: 3em;
        }
        a{
            width: max-content;
            border-bottom: 2px solid;
        }
        p{
            font-size: 0.8em;
        }
        
        &:nth-child(1){
            grid-column-start: var(--i);
            *{
                color: black;
            }
            background-color: white;
        }
        &:nth-child(2){
            grid-column-start: var(--i);
            *{
                color: white;
            }
            background-color: rgb(4, 76, 124);
        }
        &:nth-child(3){
            grid-column-start: var(--i);
            *{
                color: white;
            }
            background-color: rgb(58, 58, 58);
        }
        &:nth-child(4){
            grid-column-start: var(--i);
            *{
                color: black;
            }
            background-color: white;
        }
    }
}