.cards{
    &.img2{
        background-image: url(../img/work/card/1.webp);        
    }
    background-size: cover;
    min-height: 600px;
    height: max-content;
    display: grid;
    padding: 2%;
    
    .cards-container{
        max-height: max-content;
        width: clamp(200px, 80%,  1500px);

        margin: auto;
        display: grid;
        


        &.first{
            grid-template-columns: auto 250px 250px;
            grid-template-rows: 250px 250px ;
            font-size: 0.8em;
            grid-template-areas:
            "i f s"
            "i t fi";


            @media screen and (max-width: 1600px) {
                grid-template-columns: auto 250px 250px;
                grid-template-rows: 250px 250px ;
                font-size: 0.8em;
            }

            @media screen and (max-width: 1400px) {
                grid-template-rows: 250px 250px 250px ;
                font-size: 1em;     
                grid-template-areas:
                "i i f"
                "i i s"
                ". fi t";
            }
            @media screen and (max-width: 800px) {                
                grid-template-columns: 250px 250px;
                grid-template-rows: 250px 250px ;
                font-size: 1em;     
                grid-template-areas:
                "i f"
                "i s"
                "fi t";
            }


            @media screen and (max-width: 600px) {                
                grid-template-columns: auto ;
                grid-template-rows: repeat(5 , 200px);
                font-size: 1em;     
                grid-template-areas:
                "i"
                "f"
                "s"
                "fi"
                "t";
            }
        }
        
        &.second{
            grid-template-columns: 250px 250px auto;
            grid-template-rows: 250px 250px ;
            font-size: 0.8em;
            grid-template-areas:
            "f s i"
            "t fi i";

            @media screen and (max-width: 1600px) {
                grid-template-columns: 250px 250px;
                grid-template-rows: 250px 250px ;
                font-size: 0.8em;
            }
            
            @media screen and (max-width: 1400px) {   
                width: max-content;
                font-size: 1em;             
                grid-template-columns: 250px 250px ;
                grid-template-rows: 250px 250px  ;

                grid-template-areas:
                "f s"
                "fi t";
            }

            
            @media screen and (max-width: 600px) {                  
                width: clamp(200px, 80%,  1500px);            
                grid-template-columns: auto ;
                grid-template-rows: repeat(4 , 200px);
                font-size: 1em;     
                grid-template-areas:
                "f"
                "s"
                "fi"
                "t";
            }
        }

        .span{            
            grid-area:i;
        }
        gap: 40px;
        
    }

    .card{
        border-radius: 25px;
        padding: 25px;
        display: grid;
        grid-template-rows: 20% 15% 40% 10%;
        gap: 10px;
        box-shadow: 2px 2px 15px 15px rgba(0, 0, 0, 0.219);
        h2{
            font-size: 1.2em;
        }
        svg{
            font-size: 3em;
        }
        a{
            width: max-content;
            border-bottom: 2px solid;
        }
        p{
            font-size: 0.8em;
        }
        
        &:nth-child(1){
            grid-area:f;
            *{
                color: black;
            }
            background-color: white;
        }
        &:nth-child(2){
            grid-area:s;
            *{
                color: white;
            }
            background-color: rgb(4, 76, 124);
        }
        &:nth-child(3){
            grid-area:t;
            *{
                color: white;
            }
            background-color: rgb(58, 58, 58);
        }
        &:nth-child(4){
            grid-area:fi;
            *{
                color: black;
            }
            background-color: white;
        }
    }
}






