.gallary {
  width: 100%;
  height: 100%;
  position: relative;

  .slide {
    width: max-content;
    height: 100%;
    display: flex;
    transform: translateX(0);
    transition: 0.5s;
  }

  .control {
    display: flex;
    top: 50%;
    justify-content: space-between;
    position: absolute;
    width: 94%;
    margin: 0 3%;
  }

  .control {
    li {
      cursor: pointer;
      font-size: 2em;
      color: white;
      filter: drop-shadow(2px 2px 5px black);
    }
  }

  .bloc {
    width: 100vw;
    height: 100%;
  }

}
