$bg: #fff;
$text: rgba(0, 0, 0, 0.7);
$hover: darken($text, 10%);

@import "../variables";


label {
  cursor: pointer;
}
header {

  z-index: 100;
  position: fixed;
  width: 100%;
}
nav {
  input[type="checkbox"],
  input[type="radio"] {
    display: none;
  }

a{
    padding: 5px 10px;
}

box-shadow:  0px 0px 33px #00000091;
  background-color: $main-color;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;

  padding: 0px;

  .list {
    flex-wrap: wrap;
    display: flex;

    li {
      padding: 5px;
      width: 150px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .tm-linkHover01 {
    font-size: 1.2rem;
    a,
    span,
    label {
      user-select: none;
      cursor: pointer;
      position: relative;
      text-decoration: none;
      line-height: 24px;
      &:before,
      &:after {
        content: "";
        position: absolute;
        transition: transform 0.5s ease;
      }
    }

    .effect-1 {
      &:before {
        left: 0;
        bottom: 5px;
        width: 100%;
        height: 1px;
        background: $hover;
        transform: scaleX(0);
      }
      &:hover:before {
        transform: scaleX(1);
      }
    }

    label.effect-1 {
      &:before {
        bottom: 0;
      }
    }
  }

  svg {
    font-size: 0.8rem;
    transform: rotatez(-90deg);
    transition: 0.5s;
  }

  .sec-flor {
    
box-shadow:  0px 0px 10px #00000050;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    position: absolute;
    width: 100%;
    left: 0;
    background-color: $main-color;
opacity:1;
    transition: 0.5s;
    z-index: 1;

    height: 0px;
    li {
      display: none;
      width: 100%;
      text-align: center;
    }
  }

  input[type="checkbox"]:checked + label,
  input[type="radio"]:checked + label {
    svg {
      transform: rotatez(0deg);
      transition: 0.5s;
    }

    & + .sec-flor {
      opacity: 1;
      height: 50px;
      transition: 0.5s;
      z-index: 1;

      li {
        display: block;
      }
    }
  }

  .thr-flor {
    
box-shadow:  0px 0px 10px #00000054;
    height: 0px;
    opacity: 0;
    background-color: $main-color;
    width: 100%;
z-index: -1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    position: absolute;
    transition: 0.5s;
    left: 0;
  }

  input[type="radio"]:checked + label {
    & + .thr-flor {
      height: 50px;
      opacity: 1;
      z-index: 1;
      background-color: $main-color;
      transition: 0.5s;
    }
  }


  .active{
    color: $ackent-color;

  }
}







.hadeIn {
  animation: slide-in-blurred-top 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
}

@keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

.hadeOut {
  animation: slide-out-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
}