* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


@import "./components/hero";
@import "./components/header";
@import "./components/btn";
@import "./components/footer";
@import "./components/cards";


@import "./variables";



img {
  object-fit: cover;
}
a {
  text-decoration: none;
  color: $fou-color;
}
h1,
h2,
h3 {  
  font-family: serif;
  color: $fif-color;
}
li,ol{
  list-style: none;
}


body {
  overflow-x: hidden;
  font-size: 20px;

  @media screen and (max-width: 1400px) {
    font-size: 14px;
  }
}

html{
  
}


