* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

}


@import "./components/hero";
@import "./components/header";
@import "./components/btn";
@import "./components/footer";
@import "./components/gallary";


@import "./variables";


@import "./pages/index_pages";
@import "./pages/text_page";
@import "./pages/productPage";



img {
  object-fit: cover;
}
a {
  text-decoration: none;
  color: $fou-color;

  font-family: 'Oswald', sans-serif;
}
h1,
h2,
h3 {  
  color: $fif-color;
  font-family: 'Oswald', sans-serif;
}
span,p{
  font-family: 'Oswald', sans-serif;
}
li,ol{
  font-family: 'Oswald', sans-serif;
  list-style: none;
}


body {
  overflow-x: hidden;
  font-size: 20px;

  @media screen and (max-width: 1400px) {
    font-size: 14px;
  }
}

html{
  background-color: #eaeaf0;
}

.title-center{
  font-size: 1em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
  .separator{    
    display: inline-block;
    width: 100px;
    border: 1px solid $fir-color;
    
  }

  &.small{    
    font-size: 0.8em;
  }
}

.title-left{
  font-size: 1em;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 50px;
  .separator{
    width: 100px;
    border: 1px solid $fir-color;    
  }

  &.small{    
    font-size: 0.8em;
  }
}

